* {
    font-family: Neo Sans Arabic, sans-serif !important;
}
  
.dynamicTitle {
    font-size: clamp(.8rem + 2vw, 1.5rem);
    color: #175754;
}
.dynamicTitle .span{
    color: #6C757D
}

.main-title{
    font-size: 18px;
}

.fw-bold {
    font-weight: 700 !important;
}

.mx-1{
    color: rgb(25, 135, 84);
}
