.main-title{
    vertical-align: middle;
}

.highcharts-figure{
    overflow: hidden;
}

.chart-container{
    position: relative;
    height: fit-content;
    z-index: 1;
}

.nav{
    width: 100%;
    border-spacing: 0;
    padding: 0;
}
