.personImg {
  width: 150px;
  height: 180px;
  object-fit: cover;
}

.slider-item {
  float: left;
  list-style: none;
  position: relative;
  width: 171px;
  margin-right: 15px;
  height: 255.182px;
}

.photo {
  background: #f4f4f4 url(../ar/images/default-pic-02.png) no-repeat center center;
  text-align: center;
  display: block;
  margin: 0 auto 10px;
  position: relative;
  height: 110px;
}

.board-members {
  font-size: 14px;
}

.board-members-name {
  font-size: 15px;
}

.yearsBtn.active {
  scale: 1.2;
  background-color: #6ca19f !important;
  color: white !important;
}

.yearsBtn:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 7px solid transparent;
  border-top: 20px solid #6ca19f;
  transform: translate(-50%);
}

@media (max-width: 575px) {
  .bod-title {
    font-size: 12px !important;
  }
}

@media (max-width: 767px) {
  .row.d-flex.flex-wrap {
    flex-direction: column;
  }
  .col-6.my-4 {
    width: 100%;
  }
}