.positive {
    color: green;
}

.negative {
    color: red;
}

h6.main-title{
    color: white;
    font-size: 16px;
    margin: 0px 0px 8px;
    padding: 8px;
    background: #6ca19f;
}
.table-responsive{
    padding:0px 12px;
    width: fit-content;
}

th, td{
    color: black;
    font-size: 14px;
    background: white;
    padding: 3.2px;
    font-weight: 400;
}
