.marquee-container.rtl .ticker-bar {
  direction: rtl;
  transform: translateX(100%);
  
}

.marquee-container {
  background-color: #2c5550;
  color: white;
}

.ticker-bar {
  display: flex;
  align-items: center; 
  overflow: hidden;
  margin-bottom: 0 !important;
  height: 30px;
}

.ticker-bar .custom-bac {
  background: #6ca19f;
  border: 1px solid;
  border-radius: 15px;
  color: #fff;
}
.ticker-bar li {
  display: flex;
  align-items: center; 
  margin-right: 20px; 
}

.ticker-bar li span {
  border: 1px solid;
  border-radius: 10px;
  padding: 0px 5px;
  color: #fff;
}

.ticker-bar h6 {
  padding: 0px 5px;
  align-items: center;
}


@media (max-width: 768px) {
  .ticker-bar {
    flex-direction: column; 
    height: auto; 
    padding: 0px; 
  }

  .ticker-bar h6, .ticker-bar li span {
    font-size: 12px; 
    padding: 2px; 
  }

  .marquee-container {
    padding: 7px; 
  }
}